
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-button{
    background-color: #FF312E;
    margin-bottom: 20px;
    font-size: 2em;
}
.secondary-button{
    font-size: 1.5em;
    background-color: #2E2E2E;
}

.image-div{
    border-radius: 20px;
}
.landing-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.buttons a{
    font-size: 2em;
    margin-bottom: 0.5em;
}

.buttons button{
    font-size: 1.5em;
}