*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #161616;
  color: #FFFFFA;
}

h1{
  color: #FF312E;
  font-weight: bold;
}
button{
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 10px;
}
.navbar{
  background-color: #2E2E2E;
  color: #FFFFFA;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #FFFFFA solid 2px;
}

.navbar ul{
  align-content: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link{
  text-decoration: none;
  color: #fff;  
}
.btn-primary{
  background-color: #FF312E;
  border-color: #FF312E;
}











